<header class='entete'>

<nav> 
 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
 <a href='/membres'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Liste des membres</a>
 <a href='/profil'><i class="fa fa-user" aria-hidden="true"></i>Profil</a>

</nav> 
 <section>
 <i class="fa fa-cubes fa-5x"></i>
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>
 </header>