<form class='form_recherche' action="/rechercher" name='form_recherche' id='form_recherche' method="POST" >
 <input type = "text" placeholder="Rechercher un membre" name = "recherche"> 
 <input type="submit" value='Rechercher'>
</form>