<form class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST" >
 <input type = "hidden" placeholder="id" name = "_id" value=''> 
 <input type = "text" placeholder="Nom" name = "nom"> <br>
 <input type = "text" placeholder="Prénom" name = "prenom"> <br>
 <input type = "text" placeholder="Téléphone" name = "telephone"> <br>
 <input type = "text" placeholder="Courriel" name = "courriel"> <br>
 <input type = "hidden" placeholder="ville" name = "ville" value=''> 
 <input type = "hidden" placeholder="interets" name = "interets" value=''> 
 <input type="submit" value='Ajouter'>
</form>